* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 60px; /* Altura fixa para a barra de navegação */
    display: flex;
    justify-content: center; /* Centraliza todos os itens horizontalmente */
    align-items: center;     /* Centraliza todos os itens verticalmente */
    background-color: white;
    gap: 20px;               /* Distância entre os elementos */
    transition: all 0.3s ease; /* Transição suave para o movimento dos itens */
}

.header .logo {
    margin: 0 20px; /* Garante a mesma distância do logo como os outros elementos */
    text-align: center;  /* Centraliza o logo */
}

.logo {
    font-family: "Anton", sans-serif; /* Fonte do logo */
    color: black;
}

.header .search-container {
    display: flex;
    justify-content: center;
    gap: 20px;               /* Distância entre os itens dentro da search-container */
    align-items: center;    /* Centraliza a barra de pesquisa verticalmente */
    transition: all 0.3s ease; /* Transição suave para os itens internos */
}

.header .nav-home {
    display: flex;
    justify-content: center;
    gap: 20px;               /* Distância entre os itens no menu */
    list-style: none;
    align-items: center;
    position: relative;
    z-index: 100;           /* Garante que os itens de navegação fiquem acima da pesquisa */
    transition: opacity 0.3s ease; /* Transição para ocultar/mostrar os botões */
}

.header .nav-home.hide {
    visibility: hidden; /* Esconde os itens de navegação */
    pointer-events: none; /* Impede a interação com os itens quando ocultos */
}

.header .nav-home > * {
    margin: 0;
    height: 100%; /* Faz o botão preencher toda a altura da barra de navegação */
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente dentro do botão */
}

.header .button-nav,
.header .button-cadastro {
    padding: 0 15px; /* Ajusta o tamanho horizontal dos botões */
    height: 100%; /* Faz o botão ter a altura completa da barra de navegação */
    display: flex;
    align-items: center; /* Centraliza o conteúdo dentro do botão */
}

.header #carrinho_site ion-icon,
.header #link_login ion-icon {
    vertical-align: middle;
    flex: 0.3;
}

.header .select-display {
    flex: 5;
}

.custom-select, .button-nav, .search-container {
    display: flex;
    align-items: center;
}

.select-display {
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    font-family: Arial, Helvetica, sans-serif; /* Fonte */
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno */
    font-size: 17px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de pointer */
    padding: 5px 10px; /* Padding interno */
    display: flex; /* Alinha o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
    margin: 0 5px; /* Espaçamento */
}

.select-display:hover {
    background-color: black;
    color: white;
    padding: 20px;
}

.select-display.active {
    background-color: black;
    color: white;
    padding: 20px;
}


.select-display.active::after,
.select-display:hover::after,
.setaprabaixo:hover { 
    color: white;
    background-color: black;
}


.select-button:hover,
.select-button:focus {
    background-color: #31312F;
    color: white;
    outline: none;
    border: none;
}

.select-button {
    appearance: none;
    background-color: white;
    color: black;
    border: none;
    font-size: 17px;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
    width: 300px;
    z-index: 2;
}

#search-bar {
    width: 100%;
    height: 40px;
    border: 1px double black;
    border-radius: 2px;
    padding: 0 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

#search-bar:focus {
    outline: none;
    width: 450px;
    position: absolute;
    box-shadow: 0 0 0 2px #668CFF;
    border: #000 1px double;
    left: 0;
    z-index: 3;
}

.nav-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    z-index: 1000;
    position: relative;
    margin: 0;
}

.nav-home.hidden {
    visibility: hidden;
    display: none;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#link_login, #carrinho_site, .button-cadastro {
    margin: 0;
}

#ellipse_cart {
    font-size: 20px;
    color: red;
    right: 190px;
}

#cart_count {
    color: white;
    font-size: 15px;
    display: none;
    right: 196px;
}

#ellipse_cart, #cart_count {
    position: absolute; /* Fixar esses elementos dentro do botão */
    top: 75%; /* Posiciona verticalmente ao centro */
    transform: translateY(-50%); /* Ajusta para alinhar verticalmente */
}

.button-nav {
    background-color: white;
    color: black;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.button-nav:hover {
    background-color: black; /* Cor de fundo em hover */
    color: white; /* Cor do texto em hover */
    padding: 21px;
}

.hidden-buttons {
    display: none;
}

.search-container:focus-within ~ .nav-home .select-display,
.search-container:focus-within ~ .nav-home .button-nav {
    visibility: hidden;
    pointer-events: none;
}

.item-genres{
    position: absolute;
    top: 15px;
    padding-left: 14px;
    font-size: 16px;
    font-weight: 600;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #6286f5;
    text-decoration: underline;
}


.select-items {
    display: none;
    z-index: 1000;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    justify-content: center;
}

.select-items .item {
    padding: 8px 15px;
    color: white;
    cursor: pointer;
}

.select-items.show {
    display: block;
}

.button-nav:hover {
    background-color: black;
    color: white;
}

a .button-cadastro {
    text-decoration: none;
}

li a {
    text-decoration: none;
}

a .button-cadastro, .button-cadastro {
    text-decoration: none;
}

#carrinho_site {
    color: black;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
}

#carrinho_site:hover {
    background-color: black;
    color: white;
    padding: 14px;
}

.button-cadastro {
    background-color: #F5DF2E;
    color: #000000;
    padding: 14px 22px;
    border: none;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-height: 30px;
}

#link_login {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#link_login:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
}

.custom-select {
    position: relative;
}

.custom-select:hover .select-items {
    display: none;
}

.setaprabaixo {
    font-size: 13px;
    padding-left: 2px;
    cursor: pointer;
}



.select-items.show {
    display: flex;
}

.select-items .column {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-items .item {
    padding: 5px;
    cursor: pointer;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Base styles */
.search-form {
  position: relative;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-header{
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0;
}

.banner-mid{
    position: flex;
    height: 100%;
    object-fit: cover;
    padding-top: 0px;
}

.img-banner{
    width: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0;
}

.img-banner-mid{
    width: 100%;
    height: 280px;
    background-color:#F2F2F2;
    object-fit: cover;
}

.banner-mid-text {
    position: absolute;
    top: 68%;
    bottom: 20%;
    left: 60%;
    right: 60%;
    width: 350px;
    z-index: 2;
    text-align: justify;
    margin-top: -28px;
    margin-bottom: 10px;
    margin-left: 20px;
    line-height: 1.5;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-mid-text p{
    padding-top: 15px;
}

.banner-mid-text a, h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    padding-top: 70px;
}


.banner-mid-text a:hover, h2:hover{
    color: #4DD2FF;
    text-decoration: underline;
}


.mid-text{
 position: absolute;
 top: 40%;
 left: -25%;
 padding-top: 0px;
 z-index: 1;
 text-align: center;
 box-sizing: border-box;
}

.mid-content{
    position: relative;
    padding-left: 5px;
    padding-bottom: 0px;
}

.mid-content-text{
    position: absolute;
    top: 43%;
    left: -28.5%;
    padding-top: 0px;
    text-align: center;
    box-sizing: border-box;
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 1280px; /* Defina uma largura máxima para o carrossel */
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  gap: 20px;
}

.carrossel-buttons {
  display: flex;
  justify-content: space-between; /* Posiciona os botões nos lados opostos */
  align-items: center; /* Alinha verticalmente no centro */
  width: 100%; /* Largura total para posicionamento correto */
  margin-top: 10px; /* Espaço entre o carrossel e os botões */
}

button.prev, button.next {
  background-color: transparent; /* Remove o fundo padrão */
  border: none;
  padding: 10px; /* Ajuste o padding conforme necessário */
  cursor: pointer;
  background-size: cover; /* Certifica que a imagem cubra todo o botão */
  background-repeat: no-repeat;
  width: 25px; /* Ajuste a largura dos botões conforme o tamanho das imagens */
  height: 25px; /* Ajuste a altura dos botões conforme o tamanho das imagens */
}

button.prev {
  background-image: url('src/img/next.png'); /* Corrige o caminho da imagem do botão "prev" */
  transform: scaleX(-1); /* Espelha a imagem horizontalmente */
}

button.next {
  background-image: url('src/img/next.png'); /* Corrige o caminho da imagem do botão "next" */
}

.mid-content{
    display: flex;
    margin: 120px 0;
    width: 100%;
    padding: 0;
}

.album-info {
    text-align: left;
    padding-top: 10px;
}

.album-info h3 {
    font-size: 16px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 8px;
}

.album-info p {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 15px;
    line-height: 0;
    color: #7d7c79;
    padding-left: 8px;
}

.artist-name{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 8px;
}

.album-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

@media (max-width: 768px) {
    .album-image {
        width: 300px;  /* Reduz a largura para telas menores */
    }
}


.shop-button,
.want-button {
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.shop-button:hover,
.want-button:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}


.album-image {
    width: 238px;  
    height: 242px;
    object-fit: cover;
    margin-bottom: 5px;
    position: relative;
    object-fit: cover;
    margin-top: -10px;
}

.slide{
    width: calc(100% - 20px);
    box-sizing: border-box;
    object-fit: cover;
    background-color: white;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), 
                var(--tw-ring-shadow, 0 0 transparent), 
                0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}


.album-buttons {
    text-align: center;
    /* Centraliza os botões */
}

.shop-button, .want-button {
    margin: 5px;
    /* Espaçamento entre os botões */
}


.subscribe-container{
    position: relative;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
    width: 100%;
    min-height: 600px;
}

.subscribe-text{
    width: 1500px;
    margin-left: -100px;
    margin-bottom: 20px;
}

.subscribe-form{
    display: relative;
    justify-content: center;
    margin-top: -200px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.subscribe-form input[type="email"]:focus {
    border: 2px solid #668CFF; /* Cor da borda quando o input de email está em foco */
    box-sizing: border-box;
}

.subscribe-form input {
    border: none; /* Borda padrão */
    border-radius: 5px;
    box-sizing: border-box;
}
  
  .subscribe-form input:focus {
    border: 3px solid #668CFF; /* Cor da borda quando o input está em foco */
    outline: none; /* Remove o outline padrão do navegador */
    box-sizing: border-box;
}

#email{

width: 360px;
height: 50px;
margin-bottom: 20px;
font-size: 16px;
padding-left: 10px;
border-radius: 5px;

}

#subscribe-button{
    position: flex;
    background-color: #00800B;
    padding: 10px 10px 10px 10px;
    color: white;
    border: none;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    width: 359px;
    height: 50px;
    margin-top: -90px;
}

.subscribe-text, h4{
    font-size: 23px;
    line-height: 1.5;
    margin-right: 500px;
    padding-top: -10px;
    padding-left: 230px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
}

h5{
    font-size: 10px;
    padding-left: 6px;
    width: 300px;
    text-align: left;
}

.subscribe-form{
    margin-left: 1080px;
}

.custom-select {
    position: relative; /* Necessário para o dropdown */
}

.custom-select:hover .select-items {
    display: flex; /* Exibe o dropdown ao passar o mouse */
}

.setaprabaixo{
    font-size: 13px;
    padding-left: 2px;
    cursor: pointer;
}

.select-items {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    justify-content: center;
}

.select-items.show {
    display: flex;
}

.select-items .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-items .item {
    padding: 8px;
    cursor: pointer;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nav_footer{
    position: fixed;
    background-color: icewhite;
    color: white;
    text-align: left;
    margin-left: 250px;
}

  /* Add a gray background color and some padding to the footer */
.footer {
    background-color: #232323;
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.footer-content ul{
    list-style-type: none;
    line-height: 1.5;
    padding: 40px 40px 40px 40px;
    margin: 0 10px;
}

.footer-content a{
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-size: 14px;
}

.footer-content a:hover{
    text-decoration: underline;
    color: #4DD2FF;
}

.footer-content{
    display: flex;
    justify-content: center;
    gap: 20px; /* Define um espaçamento entre as listas */
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    background-color: #232323;
    text-align: center;
    list-style: none;
    padding: 40px 40px 40px 40px;
}

#alt-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 3.0;
}

#nav_footer{
    background-color: #333333;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    bottom: 0; /* Alinha ao fundo se for fixed */
    left: 0;
    right: 0;
    margin: 0;
    padding: 0px 2px 2px 2px; /* Espaçamento interno do menu */
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    z-index: 0;
}

#logo-text{
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 20px;
}

#logo-trademark{
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

#cookie-settings{
    background-color: #333333;
    border: 1px solid #f2f2f2;
    padding: 8px 20px 8px 20px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    border-width: 1px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

 #nav_footer ul {
    list-style-type: none;
    padding: 15px;
    padding-bottom: 0%;
    display: float;
    justify-content: space-around;
}

#nav_footer ul li {
    margin: 15px; /* Espaçamento entre os links */
    display: inline;
}

#nav_footer ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Cor dos links */
    font-size: 11px;
}

#nav_footer ul li a:hover {
    text-decoration: underline;
    color: #4DD2FF; /* Cor dos links ao passar o mouse */   
}

.google-play-badge, .app-store-badge {
    width: 140px;
    height: 45px;
    padding-top: 2px;
}

#i18n_link ion-icon {
    margin-left: 150px;
    margin-right: 0px; /* Espaçamento entre o ícone e o texto */
    font-size: 13px;
}

#i18n_select{
    background-color: #333333;
    border-color: #333333;
    color:white;
    padding: 5px;
    vertical-align: baseline;
    overflow: visible;
    display: inline-block;
}

#i18n_select option{
    background-color: white;
    color:rgb(0, 0, 0);
    padding: 5px;
    width: 100%;
    vertical-align: baseline;
    overflow: visible;
    display: inline-block;
}

#markdown-content {
    display: none;
}

#ellipse_cart, #cart_count {
    display: none;
}

.main-container {
  display: flex; /* Cria um layout flexível */
  justify-content: space-between; /* Garante o alinhamento horizontal */
}

.left-container {
  width: 50%; /* Ajuste o valor conforme o tamanho desejado */
  background-color: #f0f0f0; /* Apenas para visualização */
}

.right-container {
  width: 40%; /* Ajuste o tamanho para a proporção correta */
  margin-left: auto; /* Empurra para a direita */
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
    margin: 0 auto;
    padding: 0;
    width: 300px;
}

.bottom-right{
    width: 400px;
    margin-top: 20px;
}

.top-right{
    width: 400px;
    margin-top: 20px;
}

.paragrafo{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.estastisticas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.estatistica{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.divider {
  border: none; /* Remove o estilo padrão do <hr> */
  border-top: 1px solid #ccc; /* Adiciona uma borda na parte superior */
  margin: 10px 0; /* Espaço em cima e embaixo */
  width: 100%; /* Faz o traço ocupar toda a largura da div */
}

.top-right, .bottom-right {
  margin-bottom: 10px; /* Espaço entre as seções */
}

.button-editing{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #333333;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-selling{
    background-color: #306697;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #306697;
    border-radius: 3px;
    cursor: pointer;
}